
body {
    background-color: rgba(10, 112, 245, 0.63);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    color: white;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0);
}

#caixacentro {
    background-color: white;
    width: 400px;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.527);
    padding: 10px;
    margin: auto;
}
footer {
    text-align: center;
    background-color: rgba(4, 55, 122, 0);
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer p > a {
    color: black;
    text-decoration: none;
}